@{
    ViewData["Title"] = "Main";
}

<div class="text-center m-0 p-0">
    <h1 class="display-4">To do list</h1>
    <p>application for monitoring cases that need to be completed in a day</p>
</div>
