:focus {
    outline: none !important;
}
html, body {
    font-size: 14px;
    overflow: hidden;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #F9F3F3;
    color: #AC6A6A;
    font-family: 'Amiko', sans-serif;
}

header {
    background-color: #F2D97E;
    position: fixed;
    width: 100%;
    z-index: 1;
}

header .navbar-brand {
    color: #AC6A6A;
    font-family: 'Bungee Shade', cursive;
    font-size: 30px;
    text-transform: uppercase;
}

header .nav-item {
    color: #AC6A6A;
    font-family: 'Abel';
    font-size: 18px;
    font-weight: bold;
}

.navbar-toggler {
    color: #AC6A6A;
    z-index: 1;
}

.navbar-toggler:hover {
    color: #ce7f7f;
}

main {
    padding-top: 70px;
    height: 100%;
    overflow-y: auto;
}

.container {
    height: 100%;
}

.hello {
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 { font-weight: bold; }

a { color: #AC6A6A; }

a:hover { color: #ce7f7f; }

.add-todo { font-size: 26px; }

.slider { font-size: 20px; }

.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.card {
    background-color: #F9F3F3;
    border: 4px solid #f0d795;
}

.completed {
    background-color: rgba(255, 255, 255, 0.80);
    margin: 0px 0px 0px 4px;
}

.vertical-align, .slider {
    align-items: center;
    display: flex;
    font-size: 18px;
}

.btn { color: #AC6A6A; }

.btn:hover { }

.btn-heidght, .btn-low, .btn-medium, .completed {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
}

.btn-heidght { background-color: #e9b48a; }

.btn-low { background-color: #c3e68a; }

.btn-medium { background-color: #e5e48a; }

.slider-left {
    border-bottom: 15px solid transparent;
    border-right: 25px solid #f0d795;
    border-top: 15px solid transparent;
    display: inline-block;
    height: 0;
    width: 0;
}

.slider-right {
    border-bottom: 15px solid transparent;
    border-left: 25px solid #f0d795;
    border-top: 15px solid transparent;
    display: inline-block;
    height: 0;
    width: 0;
}

.slider-left:hover, .slider-right:hover { opacity: .5; }

.auth {
    padding: 20px 0;
}

.auth-form {
    width: 100%;
    max-width: 500px;
    min-width: 200px;
}